setuptools
wheel
dotenv
custom-python-logger
python-jira-plus
coverage
pytest
pytest-cov
pytz
tqdm
boto3
botocore
requests
paramiko
retrying
scp
pyfiglet
hvac
psycopg2-binary
boto3
PyYAML
elasticsearch-dsl==7.4.0
elasticsearch==7.17.0
pandas
